





/* Custom CSS for the video background */
.video-background {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh; /* 100% of viewport height */
  }
  
  #bg-video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1; /* Place the video behind other content */
  }
  