/* Reset default margin and padding */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

/* Full width video */
#background-video {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/* Header content */
h1 {
  font-size: 5rem;
  text-align: center;
  color: #fff;
  margin-top: 100px;
}

.intro-para {
  font-size: 1.5rem;
  text-align: center;
  color: #fff;
}

/* Style the content (text, buttons, etc.) as needed */
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}


/* Form container and input */
.tool-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
}

.form-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
    max-width: 400px;
    width: 90%;
    text-align: center;
    margin-top: 20px;
  }
 